language: cpp

matrix:
  include:
    - os: linux
      name: "GCC 4.8 Debug"
      addons:
        apt:
          packages:
            - cmake
            - libboost-test-dev
      env: MATRIX_EVAL="TYPE=Debug STRICT=OFF ASAN=ON DBSIM=OFF"
    - os: linux
      name: "GCC 4.8 RelWithDebInfo"
      addons:
        apt:
          packages:
            - cmake
            - libboost-test-dev
      env: MATRIX_EVAL="TYPE=RelWithDebInfo STRICT=OFF ASAN=ON DBSIM=OFF"
    - os: linux
      name: "GCC 5 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-5 CXX=g++-5 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "GCC 5 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-5 CXX=g++-5 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "GCC 6 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-6 CXX=g++-6 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "GCC 6 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-6
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-6 CXX=g++-6 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "GCC 7 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-7 CXX=g++-7 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "GCC 7 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=gcc-7 CXX=g++-7 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "Clang 3.6 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-3.6 CXX=clang++-3.6 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "Clang 3.6 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-precise-3.6
          packages:
            - clang-3.6
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-3.6 CXX=clang++-3.6 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=ON"
    - os: linux
      name: "Clang 4.0 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-4.0 CXX=clang++-4.0 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=OFF"
    - os: linux
      name: "Clang 4.0 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-4.0 CXX=clang++-4.0 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=OFF"
    - os: linux
      name: "Clang 5.0 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-5.0 CXX=clang++-5.0 TYPE=Debug STRICT=ON ASAN=OFF DBSIM=OFF"
    - os: linux
      name: "Clang 5.0 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang-5.0 CXX=clang++-5.0 TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=OFF"
    - os: linux
      dist: xenial
      name: "Clang 7.0 Debug"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-7.0
          packages:
            - clang
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang CXX=clang++ TYPE=Debug STRICT=ON ASAN=OFF DBSIM=OFF"
    - os: linux
      dist: xenial
      name: "Clang 7.0 RelWithDebInfo"
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-xenial-7.0
          packages:
            - clang
            - cmake
            - libboost-test-dev
            - libboost-program-options-dev
            - libboost-filesystem-dev
            - libboost-thread-dev
      env: MATRIX_EVAL="CC=clang CXX=clang++ TYPE=RelWithDebInfo STRICT=ON ASAN=OFF DBSIM=OFF"

before_install:
  - eval ${MATRIX_EVAL}

script:
  - echo CC=${CC} CXX=${CXX} TYPE=${TYPE} STRICT=${STRICT} ASAN=${ASAN} DBSIM=${DBSIM}
  - cmake . -DCMAKE_BUILD_TYPE=${TYPE}
            -DWSREP_LIB_STRICT_BUILD_FLAGS:BOOL=${STRICT}
            -DWSREP_LIB_WITH_UNIT_TESTS:BOOL=ON
            -DWSREP_LIB_WITH_DBSIM:BOOL=${DBSIM}
            -DWSREP_LIB_WITH_ASAN:BOOL=${ASAN}
  - make VERBOSE=1 -j 4
  - make test

